# Created by .ignore support plugin (hsz.mobi)
/PS1/
/PS2/
/PS3/
/PS5/
/PS6/
/PS7/
/cmake-build-debug/
.idea/
.svn/
CMakeLists.txt
MP0/.idea/
MP0/CMakeLists.txt
MP0/client.dSYM/
MP0/cmake-build-debug/CMakeCache.txt
MP0/cmake-build-debug/CMakeFiles/3.6.3/CMakeCCompiler.cmake
MP0/cmake-build-debug/CMakeFiles/3.6.3/CMakeCXXCompiler.cmake
MP0/cmake-build-debug/CMakeFiles/3.6.3/CMakeDetermineCompilerABI_C.bin
MP0/cmake-build-debug/CMakeFiles/3.6.3/CMakeDetermineCompilerABI_CXX.bin
MP0/cmake-build-debug/CMakeFiles/3.6.3/CMakeSystem.cmake
MP0/cmake-build-debug/CMakeFiles/3.6.3/CompilerIdC/a.out
MP0/cmake-build-debug/CMakeFiles/3.6.3/CompilerIdCXX/a.out
MP0/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
MP0/cmake-build-debug/CMakeFiles/CMakeOutput.log
MP0/cmake-build-debug/CMakeFiles/CMakeTmp/
MP0/cmake-build-debug/CMakeFiles/MP0.dir/
MP0/cmake-build-debug/CMakeFiles/Makefile.cmake
MP0/cmake-build-debug/CMakeFiles/Makefile2
MP0/cmake-build-debug/CMakeFiles/TargetDirectories.txt
MP0/cmake-build-debug/CMakeFiles/clion-environment.txt
MP0/cmake-build-debug/CMakeFiles/clion-log.txt
MP0/cmake-build-debug/CMakeFiles/cmake.check_cache
MP0/cmake-build-debug/CMakeFiles/feature_tests.bin
MP0/cmake-build-debug/CMakeFiles/feature_tests.cxx
MP0/cmake-build-debug/CMakeFiles/progress.marks
MP0/cmake-build-debug/MP0.cbp
MP0/cmake-build-debug/Makefile
MP0/cmake-build-debug/cmake_install.cmake
MP0/listener.dSYM/
MP0/mp0client.dSYM/
MP0/server.dSYM/
MP0/talker.dSYM/
MP1/.idea/
MP1/CMakeLists.txt
MP1/cmake-build-debug/CMakeCache.txt
MP1/cmake-build-debug/CMakeFiles/3.6.3/CMakeCCompiler.cmake
MP1/cmake-build-debug/CMakeFiles/3.6.3/CMakeCXXCompiler.cmake
MP1/cmake-build-debug/CMakeFiles/3.6.3/CMakeDetermineCompilerABI_C.bin
MP1/cmake-build-debug/CMakeFiles/3.6.3/CMakeDetermineCompilerABI_CXX.bin
MP1/cmake-build-debug/CMakeFiles/3.6.3/CMakeSystem.cmake
MP1/cmake-build-debug/CMakeFiles/3.6.3/CompilerIdC/a.out
MP1/cmake-build-debug/CMakeFiles/3.6.3/CompilerIdCXX/a.out
MP1/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
MP1/cmake-build-debug/CMakeFiles/CMakeOutput.log
MP1/cmake-build-debug/CMakeFiles/CMakeTmp/
MP1/cmake-build-debug/CMakeFiles/MP1.dir/
MP1/cmake-build-debug/CMakeFiles/Makefile.cmake
MP1/cmake-build-debug/CMakeFiles/Makefile2
MP1/cmake-build-debug/CMakeFiles/TargetDirectories.txt
MP1/cmake-build-debug/CMakeFiles/clion-environment.txt
MP1/cmake-build-debug/CMakeFiles/clion-log.txt
MP1/cmake-build-debug/CMakeFiles/cmake.check_cache
MP1/cmake-build-debug/CMakeFiles/feature_tests.bin
MP1/cmake-build-debug/CMakeFiles/feature_tests.cxx
MP1/cmake-build-debug/CMakeFiles/progress.marks
MP1/cmake-build-debug/MP1.cbp
MP1/cmake-build-debug/Makefile
MP1/cmake-build-debug/cmake_install.cmake
MP1/http_client
MP1/http_server
MP1/output
MP1/results.txt
MP1/results.txt.1
MP1/results.txt.2
MP1/teamname.txt
MP1/version.txt
MP2/.idea/
MP2/CMakeLists.txt
MP2/cmake-build-debug/CMakeCache.txt
MP2/cmake-build-debug/CMakeFiles/3.6.3/CMakeCCompiler.cmake
MP2/cmake-build-debug/CMakeFiles/3.6.3/CMakeCXXCompiler.cmake
MP2/cmake-build-debug/CMakeFiles/3.6.3/CMakeDetermineCompilerABI_C.bin
MP2/cmake-build-debug/CMakeFiles/3.6.3/CMakeDetermineCompilerABI_CXX.bin
MP2/cmake-build-debug/CMakeFiles/3.6.3/CMakeSystem.cmake
MP2/cmake-build-debug/CMakeFiles/3.6.3/CompilerIdC/a.out
MP2/cmake-build-debug/CMakeFiles/3.6.3/CompilerIdCXX/a.out
MP2/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
MP2/cmake-build-debug/CMakeFiles/CMakeOutput.log
MP2/cmake-build-debug/CMakeFiles/CMakeTmp/
MP2/cmake-build-debug/CMakeFiles/MP2.dir/
MP2/cmake-build-debug/CMakeFiles/Makefile.cmake
MP2/cmake-build-debug/CMakeFiles/Makefile2
MP2/cmake-build-debug/CMakeFiles/TargetDirectories.txt
MP2/cmake-build-debug/CMakeFiles/clion-environment.txt
MP2/cmake-build-debug/CMakeFiles/clion-log.txt
MP2/cmake-build-debug/CMakeFiles/cmake.check_cache
MP2/cmake-build-debug/CMakeFiles/feature_tests.bin
MP2/cmake-build-debug/CMakeFiles/feature_tests.cxx
MP2/cmake-build-debug/CMakeFiles/progress.marks
MP2/cmake-build-debug/MP2.cbp
MP2/cmake-build-debug/Makefile
MP2/cmake-build-debug/cmake_install.cmake
MP2/example_topology/
MP2/extra_notes.txt
MP2/grid_topology/test2initcosts0
MP2/grid_topology/test2initcosts1
MP2/grid_topology/test2initcosts10
MP2/grid_topology/test2initcosts11
MP2/grid_topology/test2initcosts12
MP2/grid_topology/test2initcosts13
MP2/grid_topology/test2initcosts14
MP2/grid_topology/test2initcosts15
MP2/grid_topology/test2initcosts16
MP2/grid_topology/test2initcosts17
MP2/grid_topology/test2initcosts18
MP2/grid_topology/test2initcosts19
MP2/grid_topology/test2initcosts2
MP2/grid_topology/test2initcosts20
MP2/grid_topology/test2initcosts21
MP2/grid_topology/test2initcosts22
MP2/grid_topology/test2initcosts23
MP2/grid_topology/test2initcosts24
MP2/grid_topology/test2initcosts25
MP2/grid_topology/test2initcosts26
MP2/grid_topology/test2initcosts27
MP2/grid_topology/test2initcosts28
MP2/grid_topology/test2initcosts29
MP2/grid_topology/test2initcosts3
MP2/grid_topology/test2initcosts30
MP2/grid_topology/test2initcosts31
MP2/grid_topology/test2initcosts32
MP2/grid_topology/test2initcosts33
MP2/grid_topology/test2initcosts34
MP2/grid_topology/test2initcosts35
MP2/grid_topology/test2initcosts36
MP2/grid_topology/test2initcosts37
MP2/grid_topology/test2initcosts38
MP2/grid_topology/test2initcosts39
MP2/grid_topology/test2initcosts4
MP2/grid_topology/test2initcosts40
MP2/grid_topology/test2initcosts41
MP2/grid_topology/test2initcosts42
MP2/grid_topology/test2initcosts43
MP2/grid_topology/test2initcosts44
MP2/grid_topology/test2initcosts45
MP2/grid_topology/test2initcosts46
MP2/grid_topology/test2initcosts47
MP2/grid_topology/test2initcosts48
MP2/grid_topology/test2initcosts49
MP2/grid_topology/test2initcosts5
MP2/grid_topology/test2initcosts50
MP2/grid_topology/test2initcosts51
MP2/grid_topology/test2initcosts52
MP2/grid_topology/test2initcosts53
MP2/grid_topology/test2initcosts54
MP2/grid_topology/test2initcosts55
MP2/grid_topology/test2initcosts56
MP2/grid_topology/test2initcosts57
MP2/grid_topology/test2initcosts58
MP2/grid_topology/test2initcosts59
MP2/grid_topology/test2initcosts6
MP2/grid_topology/test2initcosts60
MP2/grid_topology/test2initcosts61
MP2/grid_topology/test2initcosts62

MP2/grid_topology/test2initcosts63
MP2/grid_topology/test2initcosts7
MP2/grid_topology/test2initcosts8
MP2/grid_topology/test2initcosts9
MP2/grid_topology/topogrid.txt
MP2/group.txt
MP2/ls_router.dSYM/
MP2/results.txt
MP2/results.txt.1
MP2/results.txt.2
MP2/results.txt.3
MP2/testls
MP2/vec_router.dSYM/
MP2/version.txt
MP3/.idea/
MP3/CMakeLists.txt
MP3/cmake-build-debug/
MP3/partner.txt
MP3/reliable_receiver.dSYM/
MP3/reliable_sender.dSYM/
MP3/results.txt.1
MP3/results.txt.2
MP3/results.txt.3
MP3/results.txt.4
MP3/teamname.txt
MP3/version.txt
PS4/
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.8.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.8.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.8.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.8.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.8.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.8.2/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.8.2/CompilerIdC/tmp/
cmake-build-debug/CMakeFiles/3.8.2/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.8.2/CompilerIdCXX/tmp/
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/CMakeTmp/
cmake-build-debug/CMakeFiles/MP_PS.dir/
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/feature_tests.bin
cmake-build-debug/CMakeFiles/feature_tests.cxx
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/MP_PS.cbp
cmake-build-debug/Makefile
cmake-build-debug/cmake_install.cmake
